Vagrant.configure("2") do |config|

  config.omnibus.chef_version = "11.6.0"
  config.vm.network :private_network, ip: "192.168.60.60"
  config.ssh.forward_agent = true

  config.vm.box = "precise64_vmware_fusion"
  config.vm.box_url = "http://files.vagrantup.com/precise64_vmware_fusion.box"

  config.vm.synced_folder ".", "/var/www/", :id => "vagrant-root"

  VAGRANT_JSON = JSON.parse(Pathname(__FILE__).dirname.join('nodes', 'vagrant.json').read)

  config.vm.provision "chef_solo" do |chef|
    chef.cookbooks_path = ["cookbooks", "site-cookbooks"]
    chef.roles_path = "roles"
    chef.data_bags_path = "data_bags"
    chef.run_list = VAGRANT_JSON.delete('run_list')
    chef.json = VAGRANT_JSON
  end

  config.vm.provider "virtualbox" do |v, override|
    override.vm.box = "precise64"
    override.vm.box_url = "http://files.vagrantup.com/precise64.box"
    override.vm.synced_folder ".", "/var/www", :id => "vagrant-root" , :owner => "www-data", :group => "www-data"
  end

end